@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
      <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title - SimpleBlog</title>
    </head>
<body>
<header>

    <h1>
            <a href="@Url.RouteUrl("home")">SimpleBlog</a>
    </h1>
    <a href="@Url.RouteUrl("login")">Login</a>
</header>

    <!-- INSERT VIEW HERE -->

    @RenderBody()

</body>
</html>
